{% extends 'index.html' %}
{% block title %}
    Home
{% endblock %}

{% block head %}
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
{% endblock %}
{% block content %}
    <div>
        <br/><br/><br/>
        <div class="jumbotron"><br/><br/><h1>Appointment Reminder</h1><br/><br/></div>
        <div>
            <a href="{% url 'reminder:create_appointment' %}"><button class="btn-large">Schedule Appointment</button></a>
            <a href="{% url 'reminder:AppointmentList' %}"><button class="btn-large">View Appointments</button></a>
        </div>

    </div>
{% endblock %}